@font-face {
    font-family: Hobo;
    src: url(assets/hobo.ttf);
}

* {
    box-sizing: border-box;

    font-family: Hobo, "Courier New", Courier, monospace;
    text-rendering: geometricPrecision; /* ensure the text is properly pixelated */
    color: white;

    cursor: default;
}

body {
    margin: 0;
    padding: 0;
    
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    background-color: #111;
}

body > * {
    width: 100vw;
}

/*

General elements styling

*/

a {
    cursor: pointer;
    color: #33F;
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}
a:visited {
    color: #33F;
}

h1 {
    margin: 5px 10px;
    font-weight: normal; /* with boldness the text is fuzzy */
}

.button {
    margin: 0;
    padding: 4px 6px;

    display: inline-block;
    background-color: #333;
    border-radius: 3px;

    cursor: pointer;
}

.button:hover {
    background-color: #444;
}

.button.diabled {
    background-color: #111;
    cursor: not-allowed;
}

#form-buttons {
    margin: 0 50px;

    width: 200px;

    float: right;

    text-align: center;
}

#form-buttons .button {
    margin: 3px 0;
    padding: 5px 15px;
    font-size: 2rem;
}

.open-file, .save-file, .open-folder{
    float: left;

    margin: 0 20px;
    padding: 10px;

    width: 150px;
    height: 150px;

    border-radius: 5px;
    background-color: #222;

    text-align: center;
}

.open-file #name, .save-file #name, .open-folder #name {
    display: block;
}

.open-file #path, .save-file #path, .open-folder #path {
    margin-top: 5px;

    height: 80px;

    display: block;
    overflow: hidden;

    color: #444;
    font-size: 0.7rem;

    word-wrap: break-word;
}

/*

Layout elements styling

*/

#title {
    width: 100vw;
    height: 13vh;

    padding: 5px 25%;
    -webkit-app-region: drag; /* Allow the user to drag the window when clicking this location, on frameless macOS window */

    font-size: 3rem;
    /* line-height: 13vh; */
}

#title span {
    font-size: 1rem;
}


#tabs {
    width: 100vw;
    height: 10vh;
}

.tab {
    width: 25%;
    height: 100%;

    float: left;

    text-align: center;
    line-height: 10vh;

    cursor: pointer;

    border: 1px solid #222;
}

.tab.active {
    border-bottom: 3px solid #333;
}


#panels {
    height: 60vh;

    padding: 10px;
}

.panel {
    width: 100%;
    height: 100%;
}

.panel#settings #info {
    padding: 5px 0 0 10px; 
    clear: both;
}


#output {
    width: 77vw; /* Extend till we reach the penguins */
    height: auto; /* This section can take up the rest of the screen */

    padding: 10px 70px 10px 10px; /* 70px ensures the text does not go behind the penguins */
    border-top: 1px solid #333;

    word-wrap: break-word;
}

#output.error {
    color: red; /* if we display an error*/
}


#images>* {
    image-rendering: pixelated; /* Keep pixel art sharp*/
    z-index: 100;
    position: fixed;
}

#images #crateshort {
    bottom: 0;
    right: 0;
}

#images #crate {
    bottom: 48px;
    right: 18px;
}

#images #pak {
    z-index: 150;
    bottom: 63px;
    right: 36px;
}

#images #penguins {
    z-index: 150;
    bottom: 0;
    right: 54px;
}

/* Code below is from this wonderful codepen: https://codepen.io/simurai/pen/tukwj */
#frame {
    width: 156px; /* Dimentions of each frame*/
    height: 141px;
    background: url(assets/upgrading.png) no-repeat left top; /* Load the frame strip */
    background-size: 2340px 141px; /* Scale up the frame strip */
    animation: frame-animation 1.5s steps(15) infinite; /* play the animation in steps of 15, so we see each frame*/
}

@keyframes frame-animation {
    0% { background-position: 0px 0; }
    100% { background-position: -2340px 0; } /* By the end of the animation shift all frames through the visable region*/
 }