@font-face {
  font-family: Hobo;
  src: url(../assets/hobo.ttf);
}

* {
  box-sizing: border-box;

  font-family: Hobo, "Courier New", Courier, monospace;
  text-rendering: geometricPrecision; /* ensure the text is properly pixelated */
  color: white;

  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: #111;
}

body > * {
  width: 100vw;
}

/*

General elements styling

*/

a {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
a:hover, a:visited:hover  {
  color: lightgray;
}
a:visited {
  color: white;
}

h1 {
  margin: 0 0 5px 0;
  font-weight: normal; /* with boldness the text is fuzzy */
}

img {
  image-rendering: pixelated; /* Keep pixel art sharp*/
}

.button {
  margin: 0;
  padding: 4px 6px;

  display: inline-block;
  background-color: #333;
  border-radius: 3px;

  cursor: pointer;
}

.button:hover {
  background-color: #444;
}

.button.disabled {
  background-color: #111;
  cursor: not-allowed;
}

#form-buttons {
  margin: 0 auto;

  width: 200px;

  float: right;

  text-align: center;
}

#form-buttons .button {
  margin: 3px 0;
  padding: 5px 15px;
  font-size: 2rem;
}

.open-file, .save-file, .open-folder{
  float: left;

  margin: 0 20px;
  padding: 10px 5px;

  width: 150px;
  height: 150px;

  border-radius: 5px;
  background-color: #222;

  text-align: center;
}

.open-file #name, .save-file #name, .open-folder #name {
  display: block;
}

.open-file #path, .save-file #path, .open-folder #path {
  margin-top: 5px;

  height: 80px;

  display: block;
  overflow: hidden;

  color: #444;
  font-size: 0.7rem;

  word-wrap: break-word;
}

/*

Output section styling

*/

#output {

  word-wrap: break-word;
}

#output.error {
  color: red; /* if we display an error*/
}